<h1>Hey there!</h1>
<h3>Enter some words to be turned to l33tsp3ak</h3>
<form action="/translate" method="post">
  <input type="text" name="translate-me" placeholder="writ3 h3r3 d00d">
  <br>
  <button type="submit" name="translate">ggogogogogo</button>
</form>
