<form action="/more_leets" name="more-leets">
  <label for="another-leet"></label>
  <input type="text-box" name="another-leet" placeholder="enter more">
  <button type="submit" name="more_leets">l33t m3</button>
</form>
<h2>Y0 whazzup h3r3z y0ur s3nt3nc3z:</h2>
<ol>
  <li>@Model.GetLeetSpeak()</li>
</ol>
