<form action="/translate" name="translate" method="post">
  <label for="translate-me"></label>
  <input type="text-box" name="translate-me" placeholder="enter more">
  <button type="submit" name="translate">l33t m3</button>
</form>
<h2>Y0 whazzup h3r3z y0ur s3nt3nc3z:</h2>
<ol>
  @foreach (var leet in @Model)
  {
    <li>@leet.GetLeetSpeak() <a href="/leet/@leet.GetId()">d3l3t3 thiz 133t</a></li>
  }

</ol>
